[Unit]
Description=Pinewood Derby
After=multi-user.target

[Service]
User=pack57
Group=pack57
WorkingDirectory=/home/pack57/derby
Type=simple
ExecStart=/home/pack57/derby/tornado-server.sh
KillMode=control-group

[Install]
WantedBy=multi-user.target